*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --light-background-color: #bdbdbd;
  --dark-background-color: #7e7e7e;
}

html, body, .App, .root{
  height: 100vh;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark{
  background: var(--dark-background-color) !important;
}

.App{
  background: var(--light-background-color);
  border: outset;
  padding: 25px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#username{
  margin-left: 5px;
}

.submit__button{
  padding: 5px 10px 5px 10px;
}

.scores{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scores__header{
  font-size: 1.5rem;
  text-decoration: underline;

}